.navbar {
	display: flex;
	justify-content: space-around;
	padding: 16px;
	box-shadow: 0 1px 3px -2px black;
}

.nav-logo {
	display: flex;
	align-items: center;
	gap: 10px
}

.nav-logo p {
	font-size: 38px;
	font-weight: 600;
	color: #171717;
}

.nav-menu {
	display: flex;
	align-items: center;
	gap: 50px;
	list-style: none;
	color: #626262;
	font-weight: 500;
	font-size: 20px;
}

.nav-menu li {
	gap: 13px;
	cursor: pointer;
}

.nav-menu li::after {
	content: '';
	width: 0;
	height: 3px;
	background: red;
	display: block;
	margin: auto;
	transition: 0.5s;
	margin-top: 5px;
}


.nav-menu li:hover::after {
	width: 100%
}

/* .nav-menu li hr {
	border: none;
	width: 80%;
	height: 2px;
	border-radius: 10px;
	background: red;
} */

.nav-login-cart {
	display: flex;
	align-items: center;
	gap: 45px;
}

.nav-login-cart button {
	width: 158px;
	height: 58px;
	outline: none;
	border: 1px solid #7a7a7a;
	border-radius: 75px;
	color: #515151;
	font-size: 20px;
	font-weight: 500;
	background: white;
	cursor: pointer;
}

.nav-login-cart button:active {
	background: #f3f3f3
}

.nav-cart-count {
	height: 22px;
	width: 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: red;
	border-radius: 11px;
	font-size: 14px;
	color: white;
	margin-top: -35px;
	margin-left: -55px;
}